<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/business-systemtest"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.hbird.business.core.Starter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.hbird.business.business-systemtest"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dhbird.assembly=src/main/resources/systemtests.xml&#13;&#10;-Dhbird.scriptlibrary=../business-scripting/src/main/resources/library&#13;&#10;-Dorekit.data.path=../business-navigation/src/main/resources&#13;&#10;-Dsolr.solr.home=c:\solr&#13;&#10;-Dcom.sun.management.jmxremote&#13;&#10;-Dlog4j.configuration=file:src/main/resources/log4j.properties"/>
</launchConfiguration>
