<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/business-core/src/main/java/org/hbird/business/core/Starter.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.hbird.business.core.Starter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="estcube"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dhbird.assembly=C:\hbird-business\systems\estcube\src\main\assembly\estcube1-es5ec-tracking-automation.xml&#13;&#10;-Dhbird.scriptlibrary=C:\hbird-business\business\business-scripting\src\main\resources\library"/>
</launchConfiguration>
