<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/business-core/src/main/java/org/hbird/business/core/Starter.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.hbird.business.core.Starter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="business-systemtest"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dhbird.assembly=C:\hbird-business\business\business-systemtest\src\main\resources\systemtests.xml&#13;&#10;-Dhbird.scriptlibrary=C:\hbird-business\business\business-scripting\src\main\resources\library&#13;&#10;-Dorekit.data.path=C:\hbird-business\business\business-navigation\src\main\resources&#13;&#10;-Dsolr.solr.home=c:\solr"/>
</launchConfiguration>
